.validated-input {
  width: 470px;
  margin: 0 auto 18px auto;
  text-align: left;
}

.validated-input__label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.validated-input__input {
  width: 470px;
  height: 40px;
  padding: 14px 6px;
  font-size: 12px;
}

.validated-input__error {
  color: #8B0000;
  padding-top: 6px;
  line-height: 8px;
  font-size: 8px;
  font-weight: bold;
}
