/**
  * Ensure content spans at least the size of the browser window.
  * See: https://codepen.io/absolutholz/post/html-and-body-element-height-100
  * ==========================================================================
  */
html {
  height: 100%;
}
body {
  min-height: 100%;
}

/**
  * Consistent `box-sizing`.
  * See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  * ==========================================================================
  */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
  * CSS reset for browser consistency.
  * See: http://cssreset.com/scripts/eric-meyer-reset-css/
  * ==========================================================================
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  * Global tag styles.
  * ==========================================================================
  */
body {
  font-family: Arial, sans-serif;
}