.registration-form {
  text-align: center;
  background-color: #FFFFFF;
  max-width: 600px;
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #E0E0E0;
}

.registration-form__heading {
  font-size: 30px;
  padding: 24px;
  font-weight: bold;
  line-height: 30px;
}

.registration-form__error {
  color: #8B0000;
  font-size: 16px;
  font-weight: bold;
}