.app {
  background-color: #F1F1F1;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
